html {
  color: var(--fg-color);
  background-color: var(--bg-color);
}

main {
  max-width: 1000px;
  margin: 1rem auto;
}

.header-med {
  font-size: var(--fontX2);
  line-height: var(--fontLHX2);
  margin-bottom: 0.5rem;
}