@use "../../../../scss/_global-mixins" as mix;

.sidebar {
  margin-bottom: 2rem;

  @include mix.tablet {
    .profile-wrapper {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin-top: 1rem;
      margin-bottom: 4rem;
      padding: 0 1rem;
    }
  }

  .profile-image {
    width: 150px;
    height: 150px;
    margin: 0 auto 1rem auto;
    border-radius: 8px;
    background-color: var(--fg-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  @media (min-width: 600px) {
    .profile-image {
      margin: 0;
    }
  }

  @media (min-width: 700px) {
    .profile-image {
      width: 200px;
      height: 200px;
    }
  }

  @include mix.tablet-large {
    .profile-image {
      margin: 0 auto;
    }
  }

  h1 {
    text-align: center;
    font-size: var(--fontX3);
    line-height: var(--fontLHX3);
  }

  h2.oneliner {
    text-align: center;
    font-weight: var(--roman);
    line-height: var(--fontLHX1);
    font-size: var(--fontX1);
    margin: 0.5rem 0 3rem 0;
  }

  @media (min-width: 350px) {
    h1,
    h2.oneliner {
      text-align: center;
    }
  }

  @include mix.tablet {
    margin-bottom: 4rem;

    h1,
    h2.oneliner {
      text-align: left;
    }

    h1 {
      margin-top: 1rem;
    }
  }

  @include mix.tablet-large {
    h1,
    h2.oneliner {
      text-align: center;
    }
  }

  .bio {
    max-width: 45ch;
  }

  .no-content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    
    a {
      width: 200px;
      text-align: center;
      margin: 0 auto;
      display: block;
    }
  }

  @include mix.tablet-large {
    .link-bio-wrapper {
      display: block;
      margin: 0 auto;
    }
  }

  @include mix.tablet-large {
    padding-left: 1.5rem;

    .profile-wrapper {
      display: block;
    }

    h1 {
      margin-bottom: 4rem;
    }

    h2.oneliner {
      display: none;
    }

    h2.mylinks {
      display: none;
    }

    .bio {
      display: none;
    }
  }

}

.link-collection {
  @extend %resetList;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;

  li {
    a {
      @extend %link-button;
      white-space: nowrap;
    }

    a:hover {
      @include mix.hoverInvertEffect;
    }
  }

  @media (min-width: 500px) {
    flex-direction: row;
    flex-wrap: wrap;

    li a {
      max-width: 250px;
    }

    li + li {
      margin-top: 0;
    }
  }

  @include mix.tablet-large {
    flex-direction: column;
    margin: 0 auto;
    width: fit-content;

    li a {
      width: 250px;
    }
  }
}