.edit-pages {

  article {
    padding: 1rem;
    margin: 2rem auto;
    min-height: 60vh;
  }

  form.edit-form {
    width: 100%;
    max-width: 400px;

    textarea {
      width: 100%;
      max-width: 400px;
    }

    select {
      max-width: 200px;
    }
  }

  .content-empty {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--fg-color);
    width: 100%;
  }
}