.edit-pages {

  article {
    padding: 1rem;
    margin: 2rem auto;
    min-height: 60vh;
  }

  form.edit-form {
    width: 100%;
    max-width: 400px;

    textarea {
      width: 100%;
      max-width: 400px;
    }

    select {
      max-width: 200px;
    }
  }

}