.auth {
  padding: 1rem;
  min-height: 75vh;
}

.auth-form-wrapper {
  max-width: 600px;
  margin-top: 4rem;

  @media (min-width: 500px) {
    margin: 4rem auto;
    padding: 4rem 2rem;
    border: 1px solid var(--fg-color);
    max-width: 400px;
  }
}

.auth form div + div {
  margin-top: 0;
}
