.notFound {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: var(--fontX6);
    margin-bottom: -1rem;
  }

  a { 
    color: inherit;
  }
}
