@use '../scss/_global-mixins' as mix;

html {
  color: var(--fg-color);
  background-color: var(--bg-color);
}

main {
  color: var(--fg-color);
  background-color: var(--bg-color);
}

/***************************************
 * Components
 **************************************/

.header-med {
  @extend %header-med-base;
}

.loading-screen {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toaster {
  border: 1px solid var(--fg-color);
  background-color: var(--bg-color);
}

/***************************************
 * Buttons and Links
 **************************************/

a {
  color: inherit;
}

button:hover {
  cursor: pointer;
}

button[disabled] {
  opacity: 0.3;
  transition: none;
  cursor: not-allowed;
}

.button-border {
  @extend %link-button;

  :hover {
    @include mix.hoverInvertEffect;
  }

  [disabled]:hover {
    background-color: var(--bg-color);
    color: var(--fg-color);
  }

}

.button-filled {
  @extend %link-button;
  background-color: var(--fg-color);
  color: var(--bg-color);

  :hover {
    @include mix.hoverFilledInvertEffect;
  }

  [disabled]:hover {
    background-color: var(--fg-color);
    color: var(--bg-color);
  }

}

/***************************************
 * Input
 **************************************/

input[type="text"],
input[type="email"],
input[type="password"]
 {
  display: block;
  border-color: var(--fg-color);
  background-color: var(--bg-color);
  border-width: 2px;
  border-style: solid;
  padding: 0.25rem;
}
