@use '../../scss/_global-mixins' as mix;

nav {
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;

  @media (min-width: 500px) {
    padding: 1rem 2rem;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    list-style: none;
    display: flex;
    background-color: var(--bg-color);
    column-gap: 1rem;
    row-gap: 1.5rem;

    li {
      display: block;
      width: fit-content;
      
      a {
        text-decoration: none;
      }
    }

    li:last-child {
      margin: 0 0 0 auto;
    }
  }
}

.menu {

  ul {
    flex-direction: column;
    gap: 0;

    li {
      width: 100%;
      a,
      button {
        font-size: 0.85rem;
        text-decoration: none;
        color: inherit;
        padding: 0.75rem;
        display: block;
      }

      button {
        border: none;
        background: none;
        width: 100%;
        text-align: left;
      }

      a:hover,
      button:hover {
        @include mix.hoverInvertEffect;
      }

    } 

    li:last-child {
      margin: 0;
    }

  }

  summary {
    list-style: none;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    cursor: pointer;
    user-select: none;
    padding: 0 1rem 0 0;
    height: 50px;
    border: 1px solid var(--fg-color);
    width: fit-content;

    div {
      background-color: var(--fg-color);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
      height: 100%;
      width: 3rem;
    }
  }

  summary::-webkit-details-marker {
    display: none;
  }

  summary:hover {
    @include mix.hoverInvertEffect;
  }

  .menu-inner {
    display: block;
    background-color: var(--bg-color);
    border: 1px solid var(--fg-color);
    position: absolute;
    z-index: 2;
    right: 0;
    margin-top: 0.35rem;
    margin-right: 1rem;
    min-width: 150px;
    width: fit-content;

    @media (min-width: 500px) {
      margin-right: 2rem;
    }
  }
}