@use "../../../../scss/_global-mixins" as mix;

.content {
  h2.oneliner,
  p.bio {
    display: none;
  }

  .no-content {
    border: 1px solid var(--fg-color);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;

    h2 {
      font-size: var(--fontX2);
      font-weight: var(--roman);
      text-align: center;
    }

    a {
      @extend %link-button;
      width: fit-content;
      margin: 1rem auto;
    }

    a:hover {
      @include mix.hoverInvertEffect;
    }
  }

  @include mix.tablet-large {

    h2.oneliner {
      display: block;
      font-size: var(--fontX3);
      line-height: var(--fontLHX3);
      margin: 1rem 0;
    }

    p.bio {
      display: block;
      margin-bottom: 6rem;
      max-width: 60ch;
    }
  }

  @include mix.desktop {
    margin-right: 2rem;
  }
}