article.edit-links {
  max-width: 1200px;

  h1 {
    font-size: var(--fontX4);
    margin-bottom: 2rem;
  }

  > div {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  > div > form {
    border: 1px solid var(--fg-color);
    padding: 1rem;
    width: 100%;
  }

  .edit-links-btn-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
    justify-content: space-between;
    align-content: center;
    align-items: baseline;
  }

}