/***************************************
 * Fonts
 **************************************/

// All browsers with variable font support do woff2.
@supports (font-variation-settings: normal) {
  @font-face {
    font-family: "Cabinet Grotesk Variable";
    src: url("../fonts/CabinetGrotesk-Variable.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
  }
}

//Prevents non-variable font from being downloaded
@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: "Cabinet Grotesk";
    src: url("../fonts/CabinetGrotesk-Medium.woff2") format("woff2"),
    url("../fonts/CabinetGrotesk-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Cabinet Grotesk";
    src: url("../fonts/CabinetGrotesk-Extrabold.woff2") format("woff2"),
    url("../fonts/CabinetGrotesk-Extrabold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }
}

