/**************************************************
 *
 * Global CSS (not Sass) variables
 *
 **************************************************/

html {
  --sans: "Cabinet Grotesk", "Helvetica Neue", "Arial", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    --sans: "Cabinet Grotesk Variable", "Helvetica Neue", "Arial", sans-serif;
  }
}

html {
  // font weights
  --roman: 475;
  --bold: 700;

  // Type sizes
  --fontX1: 1rem;
  --fontX2: 1.333rem;
  --fontX3: 1.777rem;
  --fontX4: 2.369rem;
  --fontX5: 3.157rem;
  --fontX6: 4.209rem;

  /*
   * Optional extra
   * letterspacing for
   * legibility
   */
  --text-lsp: 0.015rem;

  // Corresponding line heights
  --fontLHX1: 1.45;
  --fontLHX2: 1.5;
  --fontLHX3: 1.5;
  --fontLHX4: 1.5;
  --fontLHX5: 1.5;
  --fontLHX6: 1.5;

  // Colors
  --light: #fff;
  --dark: black;

  /*
   * If browser does not support
   * dark mode, the light mode
   * style will always be used
   */

  --fg-color: var(--lightFG);
  --bg-color: var(--lightBG);
  --fallback-fg-color: var(--dark);
  --fallback-bg-color: var(--light);
}

@media (prefers-color-scheme: light) {
  html {
    --fg-color: var(--lightFG);
    --bg-color: var(--lightBG);
  }

  html {
    --fallback-fg-color: var(--dark);
    --fallback-bg-color: var(--light);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    --fg-color: var(--darkFG);
    --bg-color: var(--darkBG);
  }

  html {
    --fallback-fg-color: var(--light);
    --fallback-bg-color: var(--light);
  }
}