/**************************************************
 *
 * Global CSS (not Sass) variables
 *
 **************************************************/

html {
  --sans: "Cabinet Grotesk", "Helvetica Neue", "Arial", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    --sans: "Cabinet Grotesk Variable", "Helvetica Neue", "Arial", sans-serif;
  }
}

html {
  // font weights
  --roman: 475;
  --bold: 700;

  // Type sizes
  --fontX1: 1rem;
  --fontX2: 1.333rem;
  --fontX3: 1.777rem;
  --fontX4: 2.369rem;
  --fontX5: 3.157rem;
  --fontX6: 4.209rem;

  /*
   * Optional extra
   * letterspacing for
   * legibility
   */
  --text-lsp: 0.015rem;

  // Corresponding line heights
  --fontLHX1: 1.45;
  --fontLHX2: 1.4;
  --fontLHX3: 1.25;
  --fontLHX4: 1.3;
  --fontLHX5: 1.2;
  --fontLHX6: 1.1;

  // Colors
  --light: #fff;
  --dark: black;

  /*
   * Setting up default
   * default light/dark colors
   * will be overwritten by user's.
   */

  //Light
  --lightFG: var(--dark);
  --lightBG: var(--light);

  //Dark
  --darkFG: var(--light);
  --darkBG: var(--dark);

  /*
   * If browser does not support
   * dark mode, the light mode
   * style will always be used
   */
  --bg-color: var(--lightBG);
  --fg-color: var(--lightFG);
}

// main needs to defined twice
// because of weird CSS namespacing

main {
  --bg-color: var(--lightBG);
  --fg-color: var(--lightFG);
}

@media (prefers-color-scheme: light) {
  html {
    --fg-color: var(--lightFG);
    --bg-color: var(--lightBG);
  }

  main {
    --fg-color: var(--lightFG);
    --bg-color: var(--lightBG);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    --fg-color: var(--darkFG);
    --bg-color: var(--darkBG);

    //Microtypography adjustments for dark mode
    --roman: 465;
    --bold: 690;
    --text-lsp: 0.020rem;

    --fontLHX1: 1.50;
    --fontLHX2: 1.45;
  }

  main {
    --fg-color: var(--darkFG);
    --bg-color: var(--darkBG);
  }
}
