html {
  font-family: var(--sans);
  font-weight: var(--roman);
  font-size: var(--fontX1);
  line-height: var(--fontLHX1);
  letter-spacing: var(--text-lsp);
}

// Clamp is nice and all, but 
// terrible for accessibility.
// Just guessing the numbers here
// will need to do it properly.
// font is defined as PX. That
// way, it will change the global
// value of REM.

@media (min-width: 600px) {
  html {
    font-size: 16.5px;
  }
}

@media (min-width: 800px) {
  html {
    font-size: 17.5px;
  }
}

@media (min-width: 1000px) {
  html {
    font-size: 18px;
  }
}

strong {
  font-weight: var(--bold);
}

p, li, blockquote, a {
  letter-spacing: var(--text-lsp);
}