.menubar {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;

  > a {
    font-size: var(--fontX2);
    text-decoration: none;
    cursor: pointer;
  }

  div:last-child {
    display: flex;
    gap: 1rem;
  }
}

.homepage {
  article {
    margin-top: 2rem;
    max-width: 1200px;
  }
}
