@use "../../../scss/_global-mixins" as mix;

.edit-profile {
  max-width: 750px;
}
.change-password,
.delete-user {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 0.25rem;
    width: fit-content;
  }

  a {
    @extend %link-button;
    padding: 0.5rem 1rem;
    width: fit-content;
  }

  a:hover {
    @include mix.hoverInvertEffect;
  }
}

.delete-user {
  margin-top: 2rem;
}

.select-color-scheme {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 0.25rem;
  }
}
