@use "../../../scss/_global-mixins" as mix;

.edit-profile {
  max-width: 750px;
}
.change-password,
.delete-user {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 0.25rem;
    width: fit-content;
  }

  a {
    @extend %link-button;
    padding: 0.5rem 1rem;
    width: fit-content;
  }

  a:hover {
    @include mix.hoverInvertEffect;
  }
}

.delete-user {
  margin-top: 2rem;
}

.select-color-scheme {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 0.25rem;
  }
}

.profile-picture {
  p {
    margin-bottom: 0.25rem;
  }

  .image {
    border-radius: 8px;
    margin: 0.35rem 0 1rem 0;
    width: 260px;
    height: 260px;
    background-color: var(--fg-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    div {
      display: flex;
      border-radius: 8px;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      background-color: var(--fg-color);

      svg.loaderIcon {
        stroke: var(--bg-color);
      }
    }
  }

  label {
    @extend %link-button;
    width: fit-content;
    cursor: pointer;
  }

  label:hover {
    @include mix.hoverInvertEffect;
  }

  input[type="file"] {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }

  input[type="file"].visually-hidden:focus + label {
    outline: thin dotted;
  }
  input[type="file"].visually-hidden:focus-within + label {
    outline: thin dotted;
  }

}
