@use '../../scss/_global-mixins' as mix;

.page {
  padding: 1rem;
}

.sidebar {
  h1 {
    font-size: var(--fontX3);
    margin-bottom: 4rem;
  }

  h2 {
    font-size: var(--fontX2);
    margin-bottom: 0.5rem;
  }

  .bio {
    margin: 2rem auto;
  }
}

.link-collection {
  @extend %resetList;

  li {
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--fg-color);
  }

  li {
    a {
      text-decoration: none;
      color: inherit;
      padding: 0.5rem 1rem;
      display: block;
    }
  }

  a:hover{
    @include mix.hoverInvertEffect;
  }


  li + li {
    margin-top: 1rem;
  }

}

.content {
  h2 {
    font-size: var(--fontX2);
    line-height: var(--fontLHX2);
  }
}