@use "../../scss/_global-mixins" as mix;

.page {
  max-width: 1200px;
  padding: 2rem 1rem;

  @include mix.tablet {
    padding: 2rem;
  }

  @include mix.tablet-large {
    display: grid;
    grid-template-columns: clamp(275px, 25%, 400px) auto;
    column-gap: 1rem;
    margin: 0 auto;
  }
}