@use '../../scss/_global-mixins' as mix;

.page {
  padding: 1rem;
}

.sidebar {
  margin-bottom: 2rem;

  h1 {
    font-size: var(--fontX3);
    line-height: var(--fontLHX3);
  }

  h2.oneliner {
    font-weight: var(--roman);
    line-height: var(--fontLHX1);
    font-size: var(--fontX1);
    margin: 0.5rem 0 3rem 0;
  }

  @include mix.tablet-large {
    h2.oneliner {
      display: none;
    }
  }

  .bio {
    max-width: 45ch;
  }

}

.link-collection {
  @extend %resetList;
  margin-bottom: 4rem;

  li {
    a {
      @extend %border;
      border-radius: 6px;
      @extend %resetLink;
      padding: 0.5rem 1rem;
      display: block;
    }
  }

  a:hover{
    @include mix.hoverInvertEffect;
  }

  li + li {
    margin-top: 1rem;
  }

}

.content {

  h2.oneliner {
    display: none;
  }

  @include mix.tablet-large {
    h2.oneliner {
      display: block;
    }
  }

  h2 {
    font-size: var(--fontX2);
    line-height: var(--fontLHX2);
    margin-bottom: 2rem;
  }
}
